.domains-lists-container
    //p= totalDomainsAvailableCount + ' Available Domains'

    .domains-list
        include listingHeader
        ul#available-domains-list
            each domain in domainsAvailable
                li(class=domain.isMyDomain ? 'my-domain' : '')
                    a(href= domain.domainInfoUrl)
                        .column-domain-label= domain.name
                        .column-domain-price= '$' + domain.price
                        .column-domain-period= domain.period + ' months'

    //.domains-list
    //    //p Recent #{domainsRented.length} Rented Domains
    //    include rentedListingHeader
    //    ul#rented-domains-list
    //        each domain in domainsRented
    //            li(class=domain.isMyDomain ? 'my-domain' : '')
    //                a(href= domain.domainInfoUrl)
    //                    .column-domain-label= domain.domain
    //                    .column-domain-price= '$' + domain.price
    //                    .column-domain-period(data-time-ago=domain.rentedTimestamp)= domain.rentedHumanDateTime
