#pager-container
    //p= '→ Pages:' + Math.ceil(totalDomainsAvailableCount / domainsAvailable.length)
    ul.pages-list
        each page in pages
            li
                if page == currentPage-1
                    a.active-page-link= page
                else
                    a(href='/domains/' + page + '/' + itemsCountPerPage)= page
    //hr
    //p Show <a href="/domains/#{currentPage}/20">20</a> <a href="/domains/#{currentPage}/50">50</a> <a href="/domains/#{currentPage}/100">100</a> items per page